// main: ../css/style.less
.subtitle__name {
    color: @text-col;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.subtitle {
    color: @text-col;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.text {
    color: @basic;
    font-size: 15px;
}
