// main: ../style.less
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 15px 20px;
    background: grey;
    position: relative;
    overflow: hidden;

    cursor: pointer;
    border: none;
    border-radius: 5px;

    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.1;
    font-weight: bold;
    color: @white;
    text-align: center;
    text-decoration: none;
}

.btn:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: #000;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.btn span {
    position: relative;
    z-index: 2;
}

.btn:hover:before {
    opacity: .15;
}

.btn--block {
    width: 100%;
    display: block;
}

.btn--orange {
    background-image: linear-gradient(to right , #FF903E, #FF2C2C);

}

.btn--shadow {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
