// main: ../style.less
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 15px 20px;
    background: grey;

    cursor: pointer;
    border: none;
    border-radius: 5px;

    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.1;
    font-weight: bold;
    color: @white;
    text-align: center;
    text-decoration: none;
}

.btn--block {
    width: 100%;
    display: block;
}

.btn--orange {
    background-image: linear-gradient(to right , #FF903E, #FF2C2C);

}
